<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BCFire0</key>
	<string>Middle Bear: Fire                               Can you find this tree?                   Ponderosa Pine                                       -Fire Resistant                                          Lower Energy Fire (5 years)                                   Problem w/ new trees                                 -Intermediate height = hotter fires</string>
</dict>
</plist>
