<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IRFire0</key>
	<string>Inspiration Point: Fire                                                                           Bullock and Aspen Fires                                                             Fuel buildup (30 years)                                                      -higher intensity fire                                                                                  Regrowth                                                                                                                        -Conifers vs. Aspen                                                                 Promising for housing</string>
</dict>
</plist>
