<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WPGeology0</key>
	<string>Windy Point: Geology                                                     Hoodoos form in arid regions, primarily by a combination of erosion from running water and/or powerful winds</string>
</dict>
</plist>
